html {
  padding: 0;
  margin: 0;
}

html body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

html body h1,
html body h2 {
  font-family: "Poppins", sans-serif;
}

html body input[type=button] {
  padding: 1rem 4rem;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.22);
}

html body .header {
  background-image: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-color: #ebfbff;
  background-size: contain;
  height: 100%;
  width: 100%;
}

html body .header .navbar,
html body .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90% !important;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 1rem !important;
}

html body .header .navbar img {
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html body .header .navbar input[type=button] {
  background-color: #FFFFFF;
}

html body .header .container {
  padding: 5rem 0 !important;
}

html body .header .container .left,
html body .header .container .right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .header .container .left {
  width: 60%;
}

html body .header .container .left h1 {
  width: 85%;
  margin: auto 0;
  font-size: 2.5rem;
}

html body .header .container .left p {
  width: 80%;
}

html body .header .container .left input[type=button] {
  background-color: #ff52bf;
  color: #FFFFFF;
}

html body .header .container .right {
  width: 90%;
}

html body .header .container .right img {
  width: 100%;
}

html body .about {
  width: auto;
  max-width: 1440px;
  height: auto;
  padding: 5rem;
  padding-bottom: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

html body .about .box {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 95%;
  max-width: 1440px;
  margin: 1.5rem auto;
  padding: 2.5rem;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .about .box .left,
html body .about .box .right {
  width: 100%;
}

html body .about .box .left p,
html body .about .box .right p {
  width: 27.5rem;
}

html body .about .box .left img,
html body .about .box .right img {
  padding: 0;
  margin: 0;
  width: 75%;
}

html body .about .box .left {
  padding-left: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .about .box .right {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body .about .box:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

html body .about .box:nth-child(2) .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body .about .box:nth-child(2) .left .container p {
  width: 28rem;
}

html body .about .box:nth-child(2) .right {
  padding-left: 5rem;
  padding-right: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body .about .box:last-child {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 5rem 5rem;
  margin: 5rem auto;
  margin-bottom: -15rem;
}

html body .about .box:last-child h2 {
  font-size: 2rem;
}

html body .about .box:last-child input[type=button] {
  background-color: #ff52bf;
  color: #FFFFFF;
}

html body .footer {
  background-color: #00252e;
  width: auto;
  color: #FFFFFF;
  padding: 5rem 5rem;
  padding-bottom: 1rem;
  padding-top: 10rem;
  margin-top: 10rem;
}

html body .footer .row {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

html body .footer .row .col:first-child {
  width: 25% !important;
}

html body .footer .row .col:first-child .footer-logo {
  width: 15rem;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  padding-bottom: 0.5rem;
}

html body .footer .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 1rem;
  width: auto;
  line-height: 2;
}

html body .footer .row .col .info {
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 1rem 0;
  padding: 0;
}

html body .footer .row .col .info .info-icon {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 16px;
  width: 17px;
  margin: 0;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

html body .footer .row .col .info p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

html body .footer .row .col a {
  color: #FFFFFF;
  text-decoration: none;
}

html body .footer .row .col a:hover {
  color: #ff52bf;
}

html body .footer .row .col:last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .footer .row .col:last-child .social-media {
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .footer .row .col:last-child .social-media i {
  width: auto;
  border-radius: 50%;
  padding: 8px 10px;
  border: 1px solid #FFFFFF;
  margin-right: 8px;
}

html body .footer .row .col:last-child .copyright {
  font-size: 12px;
}

html body .footer footer {
  margin-bottom: 0;
  text-align: center;
  font-size: 9pt;
  letter-spacing: 0.5px;
}

html body .footer footer a {
  text-decoration: none;
  color: #ff52bf;
}

html body .footer footer a:hover {
  color: #808d99;
}

@media screen and (max-width: 1450px) {
  h1 {
    font-size: 2.5vw !important;
  }
}

@media screen and (max-width: 1000px), (max-width: 650px) {
  html body .header {
    background-image: url(../images/bg-hero-mobile.svg);
    width: auto;
    padding: 1.5rem 1rem;
  }
  html body .header .navbar,
  html body .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5rem auto;
  }
  html body .header .navbar img {
    height: 20px;
  }
  html body .header .navbar input[type=button] {
    font-size: 11px;
    padding: 0.5rem 1.5rem;
  }
  html body .header .container {
    padding: 2.5rem 0;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  html body .header .container .left,
  html body .header .container .right {
    width: auto;
  }
  html body .header .container .left {
    padding-right: 0rem;
    width: 100%;
    text-align: center;
  }
  html body .header .container .left h1,
  html body .header .container .left p {
    width: 90%;
    margin: 8px auto;
  }
  html body .header .container .left h1 {
    font-size: 1.5rem !important;
  }
  html body .header .container .left p {
    font-size: 16.5px;
  }
  html body .header .container .left input[type=button] {
    margin: 1.5rem auto;
  }
  html body .header .container .right {
    width: 100%;
    padding-left: 0rem;
  }
  html body .header .container .right img {
    width: 100%;
    margin: 1rem auto;
  }
  html body .about {
    width: auto;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
  }
  html body .about .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: auto !important;
    margin: 1.5rem auto;
    padding: 3.5rem 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .about .box .left,
  html body .about .box .right {
    width: auto !important;
    text-align: center;
    margin: auto;
  }
  html body .about .box .left h2, html body .about .box .left p,
  html body .about .box .right h2,
  html body .about .box .right p {
    margin: 0 auto;
    width: 90% !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html body .about .box .left img,
  html body .about .box .right img {
    margin: auto;
    width: 80%;
    padding: 1rem;
  }
  html body .about .box .left {
    padding-left: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  html body .about .box .right {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  html body .about .box:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  html body .about .box:nth-child(2) .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  html body .about .box:nth-child(2) .left .container p {
    width: 90%;
  }
  html body .about .box:nth-child(2) .right {
    padding-left: 0rem;
    padding-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  html body .about .box:last-child {
    display: none;
    width: 45rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    bottom: -15%;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    padding: 5rem;
  }
  html body .about .box:last-child input[type=button] {
    background-color: #ff52bf;
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=style.css.map */